
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: orange;
    text-decoration: none;
    font-family: 'Architects Daughter', 'cursive';
    font-style: oblique;
    padding-right: 2%;
    width: 10vw;
  
    &-link {
      display: block;
      

      transition: color .2s, box-shadow .4s;
      color: black;
  
      &:hover:not(&--active) {
        color: black;
      }
  
      &--active {
        color: black;
        box-shadow: inset -3px 0 0 black;
      }
    }
}

.nav-items{
    display: flex;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .menu {
        width: 18vw;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
    }
}