.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31%;
    margin-top: 2.5vh;
    text-decoration: none;
    

    &-image{
        height: 50vh;
    }

    &-title{
        height: 10vh;
        text-align: center;
        font-size: 2.5vw;
        font-family: 'Architects Daughter', 'cursive';
    }

    &-description{
        height: 20vh;
        font-size: 1.5vw;
        font-family: 'Architects Daughter', 'cursive';
    }
    
}

@media screen and (max-width: 900px) {
    .card{
     width: 60%;
     padding: 2.5vh 0;
     margin-top: 0;

        &-title{
            font-size: 3.5vw;
        }

        &-description{
            font-size: 3vw;
           
        }

    }
   

}