.recipe{
    margin-top: 12vh;

    &-inputContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-input{
        width: 50%;
    }
}


@media screen and (max-width: 900px) {

    .recipe-input{
        font-size: 4vw;
    }
}

/*card skeleton*/
// .cardRecipes{
//     padding: 3%;
//     margin-right: 0;

//     &-header{
//         display: flex;
//     }

//     .cardRecipes-container-image{
//         display: flex;
//         justify-content: center;
//         padding: 2%;  
//     }

//     &-image{
//         border-radius: 20px;
//         max-width: 100%; Ajouter esponsive 900px
//     }

//     &-body{
//         display: flex;
//         width: 100%;
//         margin-top: 5%;

//         &-left{
//             width: 30%;
//         }

//         &-right{
//             width: 70%;   
//         }

//     }

//     &-explanations{
//         line-height: 150%;
//         margin-top: 3%;
        
//         li{
//             margin-bottom: 2%;
//         }
//     }
// }

// @media screen and (max-width: 900px) {

//     .cardRecipes{
//         padding-left: 3%;
//     }
// }
