.page{
    min-height: 88vh;
    width: 89vw;
    margin-left: 11vw;
    margin-top: 10vh;
}

@media screen and (max-width: 900px) {

    .page{
        width: 88vw;
        margin-left: 12vw;
    }

}