
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: orange;
    font-family: 'Architects Daughter', 'cursive';
    font-style: oblique;
    padding-right: 1%;
    width: 11vw;
    font-size: 1.5vw;
    
  
    &-link {
      display: block;
      
      text-decoration: none;
      color: black;
  
  
      &--active {
        text-decoration: underline;
      }
    }
}

.nav-items{
    display: flex;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .menu{
      padding-right: 0;
      width: 12vw;
    }

    .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.5vw;
    }
}