
.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: orange;
    font-style: oblique;
    padding-right: 0.5%;
    padding-left: 1%;
    width: 9vw;
    height: 100%;
    font-size: 1.2vw;
    
  
    &-link {
      display: block;
      
      text-decoration: none;
      color: black;
  
  
      &--active {
        text-decoration: underline;
      }
    }
}

.nav-items{
    display: flex;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .menu{
      padding-right: 0;
      width: 12vw;
    }

    .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2vw;
    }
}